<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo-08-遍历数组或对象v-for.html</title>
    <script src="../js/vue.global.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <!--遍历数组data.number得到多个<li></li>标签-->
        <li v-for="(value,index) in data.number">
            index => {{index}} value => {{value}}
        </li>
    </ul>

    <ul>
        <!--遍历对象data.user属性得到多个<li></li>标签-->
        <!--<li v-for="value in data.user">-->
        <!--<li v-for="(value, key) in data.user">-->
        <li v-for="(value, key, index) in data.user">
            index => {{ index }} key => {{ key }} value => {{ value }}
        </li>
    </ul>

    <ul>
        <!--遍历对象data.user属性，得到指定属性-->
        <!--<template> 标签可以用来包装多个元素或者多行代码, 不会在页面中渲染-->
        <template v-for="(value, key, index) in data.user">
            <li v-if="index == 1">
                index => {{ index }} key => {{ key }} value => {{ value }}
            </li>
        </template>
    </ul>

    <ul>
        <!-- :key="value.id" 为每个li元素设置一个唯一的key值 -->
        <li v-for="(value,index) in data.teacher" :title="value.name" :key="value.id">
            index => {{ index }} value.id => {{ value.id }} value.name => {{ value.name }} value.web => {{ value.web }}
        </li>
    </ul>


</div>
<script>
    const {createApp, reactive} = Vue;
    createApp({
        setup() {
            const data = reactive({
                number: ["十", "十一", "十二"], //数组
                user: { //对象
                    name: "Luna",
                    gender: "女"
                },
                teacher: [ //包含两个对象的数组
                    {id: 100, name: "zuke", web: "gpt.zukedog.cn"},
                    {id: 101, name: "jock", web: "blog.zukedog.cn"}
                ]
            })
            return {
                data
            }
        }
    }).mount("#app")
</script>
</body>
</html>