<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo-14-自动侦听器watchEffect.html</title>
    <script src="../js/vue.global.js"></script>
</head>
<body>
<div id="app">
    爱好
    <select v-model="hobby">
        <option value="">请选择</option>
        <option value="1">写作</option>
        <option value="2">画画</option>
        <option value="3">运动</option>
    </select>

    <hr>

    年
    <select v-model="date.year">
        <option value="">请选择</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
    </select>

    月
    <select v-model="date.month">
        <option value="">请选择</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>
<script>
    //watch需要显式指定要监听的属性, 并且只有当监听的属性发生变化时才会执行
    //若需要更精细地控制或需要获取到原值, 需要使用watchEffect
    const {createApp, reactive, ref, watchEffect} = Vue;
    createApp({
        setup() {
            const hobby = ref("") //爱好
            const date = reactive({ //日期
                year: "2023",
                month: "10"
            })

            //自动监听
            watchEffect(() => {
                console.log("------ 监听开始")
                if (hobby.value == "2") {
                    console.log("画画")
                }
                if (date.year == "2025") {
                    console.log("2025")
                }
                if (date.month == "11") {
                    console.log("11")
                }
                console.log("------ 监听结束")
            })

            return {
                hobby,
                date
            }
        }
    }).mount("#app")
</script>
</body>
</html>