<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo-09-双向数据绑定v-model.html</title>
    <script src="../js/vue.global.js"></script>
</head>
<body>
<div id="app">
    <h3>文本框 {{ data.text }}</h3>
    <h3>单选框 {{ data.radio }}</h3>
    <h3>复选框 {{ data.checkbox }}</h3>
    <h3>记住密码 {{ data.remember }}</h3>
    <h3>下拉框 {{ data.select }}</h3>

    <!--单向数据绑定 当数据发生改变时, 视图会自动更新. 但用户手动更改 input 的值, 数据不会自动更新-->
    单向数据绑定 <input type="text" :value="data.text">
    <hr>

    <!--双向数据绑定 当数据发生改变时, 视图会自动更新. 当用户手动更改 input 的值, 数据也会自动更新-->
    <!--对于 <input type="text">, v-model 绑定的是 input 元素的 value 属性-->
    双向数据绑定 <input type="text" v-model="data.text">
    <hr>

    <button @click="checkDataText">查看Data.text</button>
    <hr>

    <!--单选框-->
    <!--对于 <input type="radio">, v-model 绑定的是 input 元素的选中状态，即选中的单选框的value值-->
    <input type="radio" v-model="data.radio" value="1">写作
    <input type="radio" v-model="data.radio" value="2">画画
    <hr>

    <!--复选框-->
    <!--对于 <input type="checkbox">, v-model 绑定的是 input 元素的选中状态，即选中的复选框的value值-->
    <input type="checkbox" v-model="data.checkbox" value="1">西瓜
    <input type="checkbox" v-model="data.checkbox" value="2">芒果
    <hr>

    <!-- 记住密码 -->
    <input type="checkbox" v-model="data.remember">记住密码
    <hr>

    <!--下拉框-->
    <!--对于 <select>, v-model 绑定的是 select 元素的选中状态，即选中的option的value值-->
    <select v-model="data.select">
        <option value="">请选择</option>
        <option value="A">写作</option>
        <option value="B">画画</option>
        <option value="C">运动</option>
    </select>
</div>
<script>
    const {createApp, reactive} = Vue;
    createApp({
        setup() {
            const data = reactive({
                text: "gpt.zukedog.cn", //文本框
                radio: "", //单选框
                checkbox: [], //复选框
                remember: false, //单个复选框-记住密码
                select: "" //下拉框
            })

            const checkDataText = () => {
                alert(data.text)
            }

            return {
                data,
                checkDataText
            }
        }
    }).mount("#app")
</script>
</body>
</html>